bleach==3.1.1
celery==4.4.6
redis==3.5.3
certifi==2020.6.20
cffi==1.14.0
cryptography==2.8
cycler==0.10.0
h5py==2.10.0
importlib-metadata==1.6.1
jeepney==0.4.2
joblib==0.15.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==21.1.0
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.2
pandas==1.0.3
pkginfo==1.5.0.1
pycparser==2.19
Pygments==2.5.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
readme-renderer==24.0
requests-toolbelt==0.9.1
scikit-learn==0.22.2.post1
scipy==1.4.1
SecretStorage==3.1.2
six==1.15.0
twine==3.1.1
webencodings==0.5.1
zipp==3.1.0
statsmodels==0.11.1
